<div>
    <div>
        <a href="{{ path('egoe_calcul_homepage') }}">Homepage</a>
    </div>
    <div>
        <a href="{{ path('calculer') }}">Calculer</a>
    </div>
    <div>
        <a href="{{ path('historiques') }}">Historiques</a>
    </div>
</div>
Hello World
